$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green: rgb(0, 250, 154);
$coral: rgb(240, 128, 128);

.header {
  height: 60vh;
  margin-top: 40vh;
  font-size: 2rem;
  line-height: 10rem;
}

.green {
  color: $green;
}

.navigation {
  background: $green;
  padding: 20px;
  .navigation li {
    display: inline;
    padding: 0 20px;
    font-size: 1.3rem;
    text-transform: lowercase;
  }
  .navigation a:hover {
    color: $white;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
  }
}

.introduction {
  margin: 10vh 0;
  .introHeader {
    font-size: 3rem;
    /* margin-top: 10rem; */
    margin-top: 20vh;
  }
  .introText {
    font-size: 1.7rem;
    .introSpacing {
      /* padding-top: 90px;
      padding-bottom: 90px; */
      /* padding-top: 7rem;
      padding-bottom: 5rem; */
      padding-top: 15vh;
      padding-bottom: 10vh;
    }
  }
  .gamingListHeader {
    padding-top: 3rem;
    font-size: 1.5rem;
    color: $coral;
  }
  .gamingList {
    padding: 5rem 0;
    text-align: left;
    font-size: 1.3rem;
  }
  .gamingListImages {
    margin: auto;
    max-width: 100%;
  }
  .gamingListSubHeader {
    text-align: center;
    display: block;
    font-size: 2.3rem;
    margin: 40px auto;
    border-bottom: solid 1px;
    width: 40%;
  }
  .gamingListSubHeader:hover {
    color: $green;
  }
}

.footer {
  background: $black;
  color: $white;
  .navigation {
    display: none;
    font-size: 3rem;
    li {
      margin: 3rem 0;
    }
    a {
      border: solid 1px $black;
      padding: 1rem;
    }
    a:hover {
      color: $white;
      background: $black;
    }
  }
  .icons {
    display: grid;
  }
  .icons li {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .icons a {
    color: $green;
    padding: 2rem;
  }
  .icons a:hover {
    color: $white;
  }
  .copyrights {
    padding: 6rem 0 4rem;
    text-align: center;
    font-size: 1.3rem;
    .githubPages {
      color: $coral;
    }
    :hover {
      color: $green;
    }
  }
}
